@import url(../bower_components/normalize-css/normalize.css);
.gel-canon {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem; }
  @media (min-width: 20em) {
    .gel-canon {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-canon-bold {
  font-size: 28px;
  font-size: 1.75rem;
  line-height: 32px;
  line-height: 2rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-canon-bold {
      font-size: 32px;
      font-size: 2rem;
      line-height: 36px;
      line-height: 2.25rem; } }
  @media (min-width: 37.5em) {
    .gel-canon-bold {
      font-size: 52px;
      font-size: 3.25rem;
      line-height: 56px;
      line-height: 3.5rem; }
      .no-touch .gel-canon-bold {
        font-size: 44px;
        font-size: 2.75rem;
        line-height: 48px;
        line-height: 3rem; } }

.gel-trafalgar {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 20em) {
    .gel-trafalgar {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-trafalgar-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 20em) {
    .gel-trafalgar-bold {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 28px;
      line-height: 1.75rem; } }
  @media (min-width: 37.5em) {
    .gel-trafalgar-bold {
      font-size: 36px;
      font-size: 2.25rem;
      line-height: 40px;
      line-height: 2.5rem; }
      .no-touch .gel-trafalgar-bold {
        font-size: 32px;
        font-size: 2rem;
        line-height: 36px;
        line-height: 2.25rem; } }

.gel-double-pica {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-double-pica-bold {
  font-size: 20px;
  font-size: 1.25rem;
  line-height: 24px;
  line-height: 1.5rem;
  font-weight: bold;
  letter-spacing: -1px;
  letter-spacing: -0.0625rem; }
  @media (min-width: 37.5em) {
    .gel-double-pica-bold {
      font-size: 26px;
      font-size: 1.625rem;
      line-height: 30px;
      line-height: 1.875rem; }
      .no-touch .gel-double-pica-bold {
        font-size: 24px;
        font-size: 1.5rem;
        line-height: 28px;
        line-height: 1.75rem; } }

.gel-great-primer {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem; }
  @media (min-width: 37.5em) {
    .gel-great-primer {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-great-primer-bold {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 22px;
  line-height: 1.375rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-great-primer-bold {
      letter-spacing: -1px;
      letter-spacing: -0.0625rem; } }
  @media (min-width: 37.5em) {
    .gel-great-primer-bold {
      font-size: 21px;
      font-size: 1.3125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-great-primer-bold {
        font-size: 20px;
        font-size: 1.25rem; } }

.gel-pica {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-pica {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-pica-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-pica-bold {
      font-size: 16px;
      font-size: 1rem;
      line-height: 20px;
      line-height: 1.25rem; } }
  @media (min-width: 37.5em) {
    .gel-pica-bold {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 22px;
      line-height: 1.375rem; }
      .no-touch .gel-pica-bold {
        font-size: 16px;
        font-size: 1rem;
        line-height: 20px;
        line-height: 1.25rem; } }

.gel-long-primer {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem; }
  @media (min-width: 37.5em) {
    .gel-long-primer {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-long-primer-bold {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 18px;
  line-height: 1.125rem;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-long-primer-bold {
      line-height: 20px;
      line-height: 1.25rem; }
      .no-touch .gel-long-primer-bold {
        font-size: 14px;
        font-size: 0.875rem;
        line-height: 18px;
        line-height: 1.125rem; } }

.gel-brevier {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem; }
  @media (min-width: 20em) {
    .gel-brevier {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-brevier-bold {
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  font-weight: bold; }
  @media (min-width: 20em) {
    .gel-brevier-bold {
      line-height: 18px;
      line-height: 1.125rem; } }
  @media (min-width: 37.5em) {
    .no-touch .gel-brevier-bold {
      font-size: 13px;
      font-size: 0.8125rem;
      line-height: 16px;
      line-height: 1rem; } }

.gel-minion {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase; }
  @media (min-width: 37.5em) {
    .gel-minion {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-minion-bold {
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 16px;
  line-height: 1rem;
  text-transform: uppercase;
  font-weight: bold; }
  @media (min-width: 37.5em) {
    .gel-minion-bold {
      font-size: 13px;
      font-size: 0.8125rem; }
      .no-touch .gel-minion-bold {
        font-size: 12px;
        font-size: 0.75rem; } }

.gel-body-copy {
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 20px;
  line-height: 1.25rem; }
  @media (min-width: 20em) {
    .gel-body-copy {
      font-size: 16px;
      font-size: 1rem;
      line-height: 22px;
      line-height: 1.375rem; } }
  @media (min-width: 37.5em) {
    .gel-body-copy {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 24px;
      line-height: 1.5rem; }
      .no-touch .gel-body-copy {
        font-size: 16px;
        font-size: 1rem;
        line-height: 22px;
        line-height: 1.375rem; } }

body {
  font-family: Helvetica, Arial, freesans, sans-serif; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.percentage-row-chart__heading {
  margin-bottom: 4px;
  text-align: center; }

.percentage-row-chart {
  display: inline-block;
  margin: 0;
  padding-top: 4px;
  color: white; }

.percentage-row-chart--left {
  padding-left: 8px;
  border-right: 2px solid white;
  background-color: #009850; }

.percentage-row-chart--right {
  padding-right: 8px;
  text-align: right;
  background-color: #7ab2e2; }

.flash-text {
  margin: 4px 0;
  padding: 4px;
  background-color: #5a5a5a;
  text-align: center;
  color: #fff;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

@keyframes flash {
  0%, 50%, 100% {
    opacity: 1; }
  25%, 75% {
    opacity: 0; } }
.flash {
  animation-name: flash; }

/*------------------------------------*\
    # TABLE
\*------------------------------------*/
/**
 * The table object allows you to make complex tables,
 * from football league tables to medals tables.
 */
.gs-o-table {
  width: 50%;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 16px; }

.gs-o-table__head {
  background: #f7f7f5; }
  .gs-o-table__head .gs-o-table__cell {
    border-bottom: 1px solid #dbdbdb;
    padding-top: 16px;
    padding-bottom: 4px;
    vertical-align: bottom; }

/**
 * 1. Force first and last cells to have increased padding
 */
.gs-o-table__cell {
  border-bottom: 1px solid #ededed;
  padding: 8px 4px;
  text-align: center; }
  .gs-o-table__cell:first-child {
    padding-left: 8px;
    /* [1] */ }
  .gs-o-table__cell:last-child {
    padding-right: 8px;
    /* [1] */ }

.gs-o-table__cell--border-right {
  border-right: 1px solid #ededed; }

.gs-o-table__cell--border-left {
  border-left: 1px solid #ededed; }

.gs-o-table__cell--left {
  text-align: left; }

.gs-o-table__cell--center {
  text-align: center; }

.gs-o-table__cell--right {
  text-align: right; }

.gs-o-table__cell--bold {
  font-weight: bold; }

.gs-o-table__cell--break {
  border-top: 1px dashed #252525; }

.gs-o-table__link {
  display: block;
  color: #121212;
  font-weight: bold; }
  .gs-o-table__link:focus, .gs-o-table__link:hover {
    text-decoration: underline; }

/*------------------------------------*\
    # FIXTURE
\*------------------------------------*/
/**
* 1. Get around an overly specific font-size rule in Live
*    which causes additional space between the fixture details
*    and the live tag - this change has no effect on Onesport pages
*/
.fixture {
  position: relative;
  display: block;
  text-align: center;
  font-size: 15px;
  /* [1] */ }

.fixture--live-session-header {
  color: #fff; }
  .fixture--live-session-header a {
    color: #fff; }

/**
* 1. Hack to overide underline on cricket score
*/
.fixture__block-link {
  display: block; }
  .fixture__block-link:hover .fixture__team-name, .fixture__block-link:hover .fixture__team--time, .fixture__block-link:hover .fixture__team-name-trunc {
    text-decoration: underline; }
    .fixture__block-link:hover .fixture__team-name .fixture__cricket-score, .fixture__block-link:hover .fixture__team--time .fixture__cricket-score, .fixture__block-link:hover .fixture__team-name-trunc .fixture__cricket-score {
      text-decoration: none;
      /* [1] */
      display: inline-block;
      /* [1] */
      width: 100%;
      /* [1] */ }

.fixture__title {
  text-align: left;
  margin-bottom: 8px; }
  .fixture--live-session-header .fixture__title {
    border-left: 1px solid #5a5a5a;
    padding-left: 8px;
    margin-left: 8px;
    display: inline; }

.fixture__title--center {
  display: block;
  text-align: center;
  margin-bottom: 4px; }

.fixture__date {
  display: block;
  margin-bottom: 4px;
  color: #5a5a5a;
  text-transform: uppercase; }
  .fixture--live-session-header .fixture__date {
    display: inline;
    font-weight: bold !important;
    color: #fff; }

.fixture__date--left {
  text-align: left; }

@media (min-width: 37.5em) {
  .fixture__date--long {
    display: inline; }

  .fixture__date--short {
    display: none; } }
.fixture_date-time-wrapper {
  display: block;
  margin-bottom: 8px;
  font-size: 0; }

.fixture__date--long {
  display: none; }

.fixture__wrapper {
  display: table;
  width: 100%;
  letter-spacing: -.31em;
  font-size: 0;
  margin-bottom: 4px; }
  .fixture--live-session-header .fixture__wrapper {
    margin-bottom: 8px; }
    @media (min-width: 56.25em) {
      .fixture--live-session-header .fixture__wrapper {
        max-height: 38px; } }

.fixture__team {
  display: inline-block;
  vertical-align: top;
  width: 50%;
  letter-spacing: normal;
  min-width: 75px;
  color: #121212; }
  .fixture--stack .fixture__team {
    min-width: 0; }
  .fixture--live-session-header .fixture__team {
    color: #fff; }

/**
* 1. Push flags under teamname in IE.
*/
.fixture__team--time {
  position: relative;
  display: table-cell;
  padding-top: 4px; }
  .fixture--live-session-header .fixture__team--time {
    font-weight: normal !important; }
  .fixture__team--time .fixture__flag--block {
    position: relative;
    top: 0;
    /* [1] */ }

.fixture__team--away,
.fixture__team--time-away {
  direction: rtl; }

.fixture__team-name {
  display: table-cell;
  width: 100%;
  font-weight: bold !important;
  vertical-align: middle; }
  .fixture--live-session-header .fixture__team-name {
    font-weight: normal !important;
    vertical-align: bottom; }

.fixture__team-name--home,
.fixture__team--time-home {
  text-align: right;
  padding-right: 8px; }
  .fixture--live-session-header .fixture__team-name--home, .fixture--live-session-header
  .fixture__team--time-home {
    padding-right: 10px; }

.fixture__team-name--away,
.fixture__team--time-away {
  text-align: left;
  padding-left: 8px; }
  .fixture--live-session-header .fixture__team-name--away, .fixture--live-session-header
  .fixture__team--time-away {
    padding-left: 10px; }

.fixture__team-name-wrap {
  position: relative;
  display: block;
  min-height: 26px; }
  .fixture__team--time .fixture__team-name-wrap {
    min-height: 20px; }
  .fixture--live-session-header .fixture__team-name-wrap {
    min-height: 28px; }

/**
* Truncate the team name if the name extends beyond
* the width of its parent
*
* 1. Line-height collapses so we need to set it to match the size
*    of the fixture-block
* 2. Reset the direction of the text
*/
.fixture__team-name-trunc {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  line-height: 28px;
  /* [1] */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap; }
  .fixture__team--away .fixture__team-name-trunc, .fixture__team--time-away .fixture__team-name-trunc {
    direction: ltr;
    /* [2] */ }
  .fixture__team--time-home .fixture__team-name-trunc, .fixture__team--time-away .fixture__team-name-trunc {
    line-height: 14px;
    /* [1] */ }
  .fixture--live-session-header .fixture__team-name-trunc {
    line-height: 24px;
    /* [1] */ }

/**
 * 1. IE is inheriting letter-spacing from its parent elements, where as
 *    other browsers ignore this. We're just forcing the letter-spacing to
 *    reset here.
 */
.fixture__block {
  display: table-cell;
  letter-spacing: normal;
  /* [1] */ }

.fixture__block--time {
  min-width: 54px;
  vertical-align: top;
  line-height: 16px; }

.fixture__number {
  min-width: 28px;
  background-color: #dbdbdb;
  font-weight: bold !important;
  text-align: center;
  display: block;
  padding-top: 4px;
  padding-bottom: 4px;
  color: #121212; }
  .fixture--live-session-header .fixture__number {
    min-width: 38px;
    padding-right: 4px;
    padding-left: 4px;
    line-height: 24px; }

.fixture__number--ft {
  background-color: #ffdf43; }

.fixture__number--live {
  background-color: #1169f6;
  color: #fff; }

.fixture__team-indicator {
  position: relative; }
  .fixture__team-indicator:after {
    top: 50%;
    border: solid transparent;
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-width: 6px;
    margin-top: -6px; }
  .fixture--live-session-header .fixture__team-indicator:after {
    border-width: 8px;
    margin-top: -8px; }

.fixture__team-indicator--home {
  position: relative; }
  .fixture__team-indicator--home:after {
    right: 100%;
    border-right-color: #1169f6; }

.fixture__team-indicator--away {
  position: relative; }
  .fixture__team-indicator--away:after {
    left: 100%;
    border-left-color: #1169f6; }

.fixture__number--time,
.fixture__number--inactive {
  background-color: #dbdbdb;
  color: #5a5a5a;
  letter-spacing: normal; }
  .fixture--live-session-header .fixture__number--time, .fixture--live-session-header
  .fixture__number--inactive {
    padding-right: 8px;
    padding-left: 8px; }

.fixture__number--abandoned,
.fixture__number--post-event {
  background-color: #ffdf43;
  letter-spacing: normal; }
  .fixture--live-session-header .fixture__number--abandoned, .fixture--live-session-header
  .fixture__number--post-event {
    padding-right: 8px;
    padding-left: 8px; }

.fixture__number--home {
  margin-right: 1px; }
  .fixture--live-session-header .fixture__number--home {
    margin-right: 2px; }

.fixture__flag--block-wrapper {
  position: relative; }

.fixture__flag--block {
  display: block;
  position: absolute;
  margin-top: 8px;
  margin-left: 0;
  margin-right: 0;
  top: 100%; }

.fixture__flag--block--home {
  right: 0; }
  .fixture__team--time .fixture__flag--block--home {
    float: right; }

.fixture__flag--block--away {
  left: 0; }
  .fixture__team--time .fixture__flag--block--away {
    float: left; }

.fixture__name--flag-block {
  display: block; }

.fixture__status,
.fixture__win-message,
.fixture__venue {
  display: block;
  margin-bottom: 4px; }

.fixture__status {
  color: #5a5a5a; }
  .fixture--live-session-header .fixture__status {
    color: #dbdbdb; }

@media (min-width: 37.5em) {
  .fixture__status--other-push-top {
    margin-top: 24px; } }
.fixture__status--ft {
  color: #5a5a5a; }
  .fixture--live-session-header .fixture__status--ft {
    color: #ffdf43; }

.fixture__status--live {
  color: #1169f6; }

.fixture__status--other {
  display: block;
  text-transform: none !important;
  color: #5a5a5a; }

.fixture__broadcaster {
  display: block;
  margin-top: 8px;
  color: #5a5a5a; }

.fixture__win-message {
  color: #121212; }
  .fixture--live-session-header .fixture__win-message {
    color: #fff; }

.fixture__venue {
  color: #dbdbdb; }

.fixture__venue--cricket-fixture {
  color: #5a5a5a; }

.fixture__venue-heading {
  font-weight: bold; }

.fixture__scorers {
  padding-bottom: 16px;
  line-height: 20px !important;
  display: table-cell;
  color: #dbdbdb;
  width: 50%;
  min-width: 75px; }
  .fixture__scorers > li {
    display: inline-block; }

.fixture__scorers-home {
  text-align: right; }

.fixture__scorers-away {
  text-align: left; }

.fixture__status-wrapper {
  min-width: 94px;
  display: table-cell; }

.fixture-events {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-top: 4px;
  margin-bottom: 4px; }

.fixture-events__item {
  width: 50%;
  position: relative;
  border-color: #dbdbdb;
  border-style: solid;
  padding-top: 4px;
  padding-bottom: 4px; }

.fixture-events__item--home {
  text-align: right;
  border-right-width: 1px;
  padding-right: 8px; }

.fixture-events__item--away {
  text-align: left;
  border-left-width: 1px;
  left: 50%;
  padding-left: 8px;
  margin-left: -1px; }

.fixture-events__min {
  color: #5a5a5a; }

/**
* 1. Fallback background colour in case the background image doesn't load.
* 2. Add text-shadow so white text is easy to read on light background images.
* 3. Remove text-shadow on scores, live, result and time in fixture block.
*/
.match-overview-header {
  background-size: cover;
  background-position: center bottom;
  background-color: #121212;
  /* [1] */
  margin-bottom: 8px;
  padding-top: 24px;
  padding-bottom: 16px;
  text-shadow: 0px 0px 3px #333;
  /* [2] */ }
  @media (min-width: 37.5em) {
    .match-overview-header {
      margin-bottom: 16px; } }
  .match-overview-header .fixture__block {
    text-shadow: none;
    /* [3] */ }

.match-overview-header--football {
  background-position: center top;
  background-image: url(images/football-header-mobile.jpg); }
  @media (min-width: 37.5em) {
    .match-overview-header--football {
      padding-top: 48px;
      padding-bottom: 48px;
      background-image: url(images/football-header-tablet.jpg); } }
  @media (min-width: 56.25em) {
    .match-overview-header--football {
      background-image: url(images/football-header-desktop.jpg); } }

/*# sourceMappingURL=main.css.map */
